.menu-button {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
    border: none;
    background: transparent;

    .close-icon {
        display: none;
    }
}

.btn {
    width: 100%;
    font-size: $base-font-size;
    font-weight: 700px;
    border-radius: 3px;

    &--red {
        background: $secondary-color;
        color: $white;
        border: none;
    }

    &--o {
        background: transparent;
        color: $secondary-color;
        border: 1px solid $secondary-color;
    }

    &__calls {
        padding: 8px 0;
        white-space: nowrap;
        font-size: 12px;
        max-width: 164px;
    }

}

@media (min-width: 1200px) {
    .menu-button {
        display: none;
    }
} 
