.navigation-menu {

    &__list {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
        // padding: 0;
        // display: flex;
        // flex-direction: column;
        // list-style: none;
        // gap: 33px;
    }

    &__link {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
        // color: $default-black;
        // text-decoration: none;
    }
}
.showMenu {
    transform: translateY(0);
}

// @media (min-width: 1200px) {
//     .navigation-menu {
//         display: flex;
        
//         &__list {
    
           
//             flex-direction: row;
//             gap: 25px;
//         }

//     }
// }