.btn {
    width: 100%;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &--menu {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 15px;
        font-weight: 700;
    }

    &--red {
        color: $white;
        border: none;
        background-color: $secondary-color;
    }

    &--transparent {
        color: $secondary-color;
        border: 1px solid $secondary-color;
        background-color: $white;
    }
}
