// Container
$container-width-desk: 1111px;
$container-width-tablet: 738px;
$container-width-mobild: 290px;

// Colors.
$primery-color: #0058A5;
$secondary-color: #EF3525;
$grey: #828282;
$white:#FFFFFF;
$black: #333333;
$default-black: #000000;

// Font-size
$base-font-size: 16px;
$big-font-size: 30x;
$small-font-size: 14px;