.footer {
    padding-top: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        height: 118px;
        margin-bottom: 15px;
    }

    &__adress {
        background-image: url(../img/icon_adress.svg);
        background-repeat: no-repeat;
        padding-left: 30px;
        color: #333333;
    }

    &__mail {
        background-image: url(../img/icon_mail.svg);
        background-repeat: no-repeat;
        padding-left: 30px;
        color: #333333;
    }

    &__tel {
        background-image: url(../img/icon_phone.svg);
        background-repeat: no-repeat;
        padding-left: 30px;
        color: #333333;
    }

    &__social-networks {
        width: 108.4px;
        display: flex;
        justify-content: space-between;
    }

    &__company-img {
        margin-top: 30px;
    }

    &__group-img {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__company-solo-img {
        display: flex;
        justify-content: center;
    }

    &__developed {
        text-align: center;
        color: #BDBDBD;
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 20px;
    }
}