.product {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 15px;

    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $secondary-color;
        margin-bottom: 15px;
    }

    &__size {
        font-weight: 600;
        font-size: $base-font-size;
        line-height: 24px;
        color: $primery-color;
        margin-bottom: 15px;
    }
}