.work-examples {

    &__selection {
        margin-top: 20px;
        font-weight: 500;
        font-size: $base-font-size;
        line-height: 24px;
        display: flex;
        justify-content: space-between;
        
        a {
            color: #000000;
        }
    }

    &__window {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            margin-bottom: 10px;
        }
    }
}